@mixin text-color-transition {
  transition: color 0.15s;
}

@mixin square-ratio {
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

@mixin inner-behavior {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 16px;
  @media screen and (min-width: 640px) {
    max-width: 768px;
    padding: 20px 32px;
  }
}
